@media screen and (max-width: 1842px) {
  #main .portada .right-part img {
    width: 700px;
  }
}
@media screen and (max-width: 1436px) {
  #main .portada .right-part img {
    width: 500px;
    text-align: end;
  }
}
@media screen and (max-width: 1418px) {
  #main .portada .left-part h1 {
    font-size: 80px !important;
  }
}
@media screen and (max-width: 1122px) {
  .main-parts {
    flex-flow: column nowrap;
    display: grid;
  }

  #main .portada {
    width: 100% !important;
    height: 100% !important;
  }
  #main .portada .left-part {
    width: 100%;
    text-align: center;
    order: 2;
  }
  #main .portada .left-part h1 {
    text-align: center;
    font-size: 100px !important;
    margin-top: 10px;
    display: none;
  }
  #main .portada .left-part p {
    text-align: left;
  }
  #main .portada .right-part {
    width: 100%;
    text-align: center;
    order: 1;
  }
  #main .portada .right-part img {
    width: 700px;
  }
}
@media screen and (max-width: 1109px) {
  #institucional .top-part {
    width: 100% !important;
    justify-content: center;
  }
  #institucional .top-part .left-content {
    width: 100% !important;
  }
  #institucional .top-part .right-content {
    width: 100% !important;
  }
  #institucional .bottom-part {
    width: 100% !important;
    height: 100%;
    justify-content: center;
  }
  #institucional .bottom-part .left-content {
    width: 100% !important;
  }
  #institucional .bottom-part .right-content {
    width: 100% !important;
  }
}
@media screen and (max-width: 1000px) {
  #footer {
    flex-flow: column nowrap !important;
  }
  #footer .left-part {
    display: none !important;
  }
  #footer .center-part {
    margin-top: 20px !important;
  }
  #footer .right-part {
    flex-flow: row nowrap !important;
  }
  #footer .right-part a {
    white-space: nowrap;
  }
}
@media screen and (max-width: 991px) {
  #header .navbar .container-fluid .navbar-collapse {
    position: relative;
  }
  #header .navbar .container-fluid .navbar-collapse form {
    display: flex !important;
    width: 93% !important;
  }
  #header .navbar .container-fluid .navbar-collapse .btn-cart {
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 1px;
  }
  #header .navbar .container-fluid .navbar-collapse .btn-login {
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 0;
  }

  #mainInstitucional {
    height: 100% !important;
  }
  #mainInstitucional .imagen-fondo .titulo h1 {
    font-size: 25px;
  }
  #mainInstitucional .imagen-fondo .subtitulo h1 {
    font-size: 70px !important;
  }
  #mainInstitucional .imagen-fondo .bisubtitulo h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 799px) {
  #informacion .container-informacion {
    height: 100% !important;
  }
  #informacion .container-informacion .card {
    justify-content: flex-start !important;
  }
}
@media screen and (max-width: 738px) {
  #header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
    width: 500px !important;
  }
  #header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .container-dropdown {
    width: 500px !important;
  }

  #mainInstitucional .imagen-fondo .titulo h1 {
    font-size: 25px;
  }
  #mainInstitucional .imagen-fondo .titulo h1:last-child {
    text-align: right;
  }
  #mainInstitucional .imagen-fondo .subtitulo h1 {
    font-size: 70px !important;
  }
  #mainInstitucional .imagen-fondo .bisubtitulo h1 {
    font-size: 25px;
  }
  #mainInstitucional .imagen-fondo .bisubtitulo h1:last-child {
    text-align: right;
  }
}
@media screen and (max-width: 700px) {
  #main .portada .left-part h1 {
    font-size: 80px !important;
    margin-top: 20px;
  }

  #main .portada .right-part img {
    width: 500px;
    text-align: end;
  }
}
@media screen and (max-width: 639px) {
  #header .navbar .container-fluid .navbar-collapse form {
    display: flex !important;
    width: 89% !important;
  }
  #header .navbar .container-fluid .navbar-collapse .btn-cart {
    position: absolute;
    bottom: 1px;
    right: 0px;
  }
}
@media screen and (max-width: 578px) {
  #main .title-certificaciones {
    font-size: 35px !important;
  }
  #main .certificaciones-explicadas {
    flex-flow: column-reverse !important;
  }
  #main .certificaciones-explicadas .right-part {
    margin-bottom: 20px;
  }
  #main .certificaciones-explicadas .left-part {
    text-align: center;
    padding-right: 0 !important;
  }

  #footer {
    justify-content: center !important;
  }
  #footer .right-part {
    display: none !important;
  }
  #footer .center-part {
    margin: 0 !important;
  }
}
@media screen and (max-width: 550px) {
  #header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
    width: 350px !important;
  }
  #header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .container-dropdown {
    width: 350px !important;
  }
  #header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .container-dropdown .left-part-dropdown {
    width: 100% !important;
  }
  #header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .container-dropdown .right-part-dropdown {
    display: none !important;
  }

  #mainInstitucional .imagen-fondo {
    padding: 120px 20px !important;
  }
  #mainInstitucional .imagen-fondo .titulo {
    display: none !important;
  }
  #mainInstitucional .imagen-fondo .subtitulo h1 {
    font-size: 60px !important;
  }
  #mainInstitucional .imagen-fondo .bisubtitulo {
    display: none !important;
  }
}
@media screen and (max-width: 525px) {
  #mainInstitucional .informationSection .iconos {
    display: flex;
    flex-flow: column nowrap;
  }
  #mainInstitucional .informationSection .iconos a {
    width: 100% !important;
    margin: 0 0 10px 0;
  }
}
@media screen and (max-width: 500px) {
  #main .portada .left-part h1 {
    font-size: 80px !important;
    margin-top: 20px;
  }
  #main .portada .left-part p {
    text-align: center;
  }

  #main .portada .right-part img {
    width: 300px;
    text-align: end;
  }
}
@media screen and (max-width: 460px) {
  #footer {
    justify-content: center !important;
  }
  #footer .right-part {
    display: none !important;
  }
  #footer .center-part {
    margin: 0 !important;
  }
  #footer .center-part p {
    display: none;
  }
}
@media screen and (max-width: 413px) {
  #header .navbar .container-fluid .navbar-collapse form {
    display: flex !important;
    width: 85% !important;
  }
  #header .navbar .container-fluid .navbar-collapse .btn-cart {
    position: absolute;
    bottom: 1px;
    right: 0px;
  }

  .bottom-part .container-courses a {
    margin: 10px;
  }
  .bottom-part .container-courses a .course {
    width: 300px !important;
  }
}
@media screen and (max-width: 404px) {
  #informacion .container-informacion {
    height: 100% !important;
  }
  #informacion .container-informacion .card {
    justify-content: center !important;
    width: 100% !important;
    min-width: 200px !important;
  }
  #informacion .container-informacion .card .informacion h5 {
    border-left: none !important;
    font-weight: 500 !important;
    font-size: 15px !important;
  }
  #informacion .container-informacion .card .icono {
    display: none !important;
  }
}
@media screen and (max-width: 394px) {
  #header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
    width: 250px !important;
  }
  #header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .container-dropdown {
    width: 250px !important;
  }
  #header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .container-dropdown .left-part-dropdown {
    width: 100% !important;
  }
  #header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .container-dropdown .right-part-dropdown {
    display: none !important;
  }
}

/*# sourceMappingURL=responsive.css.map */
