* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "system-ui";
}

body {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  position: relative;
  z-index: 0;
}
body #header {
  width: 100%;
  height: 56.66px;
}
body #header .navbar {
  box-shadow: 0px 0px 10px #bbbbbb;
  padding: 3px;
}
body #header .navbar .container-fluid .navbar-brand img {
  width: 80px;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
  margin: 0px 5px;
  align-self: center;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
  width: 700px;
  height: 400px;
  padding: 0px;
  top: 50px;
  box-shadow: 0px 0px 30px #878787;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown {
  width: 700px;
  height: 400px;
  display: flex;
  flex-flow: row nowrap;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .left-part-dropdown {
  width: 200px;
  height: 399px;
  border-right: 1px solid grey;
  overflow-x: hidden;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .left-part-dropdown .container-scroll {
  overflow-x: scroll;
  width: 100%;
  height: 396px;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .left-part-dropdown .container-scroll li {
  text-transform: uppercase;
  font-size: 13px;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .left-part-dropdown .container-scroll li .dropdown-item {
  width: 98%;
  height: 50px;
  background-color: whitesmoke;
  margin: 0 auto;
  margin-top: 2px;
  padding: 6px 5px;
  transition: all 0.2s;
  font-weight: 600;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .left-part-dropdown .container-scroll li .dropdown-item span {
  font-size: 10px;
  font-weight: 300;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .left-part-dropdown .container-scroll li .dropdown-item:hover {
  background-color: #c00000;
  color: white;
  transform: translateX(10px);
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown {
  width: calc(700px - 200px);
  height: 400px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top {
  display: flex;
  flex-flow: row nowrap;
  width: 98%;
  height: 79%;
  border: 1px solid #d5d5d5;
  margin: 0 auto;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
  justify-content: space-evenly;
  position: relative;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top ul {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top ul h6 {
  font-weight: 700;
  text-decoration: underline;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top ul a {
  color: black;
  text-decoration: none;
  border-radius: 5px;
  margin: 0px 1px;
  font-weight: 300;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top ul a li {
  border: 1px solid transparent;
  margin: 0px 0px;
  padding: 0px;
  border-radius: 5px;
  transition: all 0.2s;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top ul a li:hover {
  color: #b60000;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top .button-verCursos {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top .button-verCursos button {
  width: 100%;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-bottom {
  width: 98%;
  height: 18%;
  background-color: #c00000;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-bottom .container-images {
  display: flex;
  flex-flow: row nowrap;
  animation: miniSlider 30s infinite alternate linear;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-bottom .container-images img {
  width: 30px;
  height: 30px;
  margin: 20px 10px;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:first-child a {
  padding-left: 0px;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:last-child a {
  padding: 7.5px 15px;
  text-decoration: bold;
  margin-left: 7.5px;
}
body #header .navbar .container-fluid .navbar-collapse form {
  white-space: nowrap;
  transition: all 0.5s;
}
body #header .navbar .container-fluid .navbar-collapse .btn-cart {
  margin-left: 5px;
}
body #main {
  display: flex;
  flex-flow: column nowrap;
  max-width: 1200px;
  margin: 0 auto;
  height: calc(100% - 56.66px);
  z-index: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
}
body #main .left-part {
  width: 70%;
  height: 100%;
}
body #main .left-part .nav-curso .breadcrumb .breadcrumb-item {
  font-size: 14px;
  font-weight: 500;
}
body #main .left-part .nav-curso .breadcrumb .breadcrumb-item a {
  text-decoration: none;
  color: #e90000;
  transition: all 0.2s;
}
body #main .left-part .nav-curso .breadcrumb .breadcrumb-item a:hover {
  color: #ff6464;
}
body #main .left-part .titulo-curso h1 {
  font-weight: 600;
}
body #main .left-part .subtitulo-curso h2 {
  font-size: 15px;
  font-weight: 300;
  color: #494949;
}
body #main .left-part .subtitulo-curso .iconos {
  display: flex;
  flex-flow: row nowrap;
  background-color: #242424;
  padding: 10px 0px;
}
body #main .left-part .subtitulo-curso .iconos p {
  font-size: 13px;
  margin: 0px 15px;
  color: white;
  font-weight: 500;
}
body #main .left-part .subtitulo-curso .iconos p img {
  width: 15px;
  vertical-align: sub;
}
body #main .left-part .container-profesor {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 50px;
}
body #main .left-part .container-profesor h3 {
  font-size: 25px;
  font-weight: 600;
}
body #main .left-part .container-profesor .card-profesor {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 15px;
}
body #main .left-part .container-profesor .card-profesor .imagen-profesor {
  width: 100px;
  height: 100px;
  border-radius: 90px;
  box-shadow: 0px 0px 10px #969696;
  background-image: url("../images/persona.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body #main .left-part .container-profesor .card-profesor .informacion-profesor {
  margin-left: 10px;
}
body #main .left-part .container-profesor .card-profesor .informacion-profesor p {
  margin: 0px;
}
body #main .left-part .container-profesor .card-profesor .informacion-profesor p img {
  width: 15px;
  vertical-align: text-bottom;
}
body #main .left-part .container-profesor .card-profesor .informacion-profesor p:first-child {
  font-size: 20px;
  font-weight: 500;
}
body #main .left-part .container-profesor .card-profesor .informacion-profesor p:last-child {
  margin-top: 10px;
}
body #main .left-part .container-requisitos {
  margin-top: 50px;
}
body #main .left-part .container-requisitos h3 {
  font-size: 25px;
  font-weight: 600;
}
body #main .left-part .container-requisitos ul li {
  color: #414141;
}
body #main .left-part .container-contenido {
  margin-top: 50px;
}
body #main .left-part .container-contenido h3 {
  font-size: 25px;
  font-weight: 600;
}
body #main .left-part .container-contenido .accordion {
  margin-top: 15px;
}
body #main .left-part .container-contenido .accordion .accordion-item {
  display: flex;
  flex-flow: column nowrap;
}
body #main .left-part .container-contenido .accordion .accordion-item .accordion-header .accordion-button {
  font-weight: 600;
  font-size: 15px;
  background-color: transparent;
}
body #main .left-part .container-contenido .accordion .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: none;
}
body #main .left-part .container-contenido .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background-color: transparent;
  color: black;
}
body #main .left-part .container-valoraciones {
  margin-top: 50px;
  width: 100%;
}
body #main .left-part .container-valoraciones .card-puntaje {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 15px;
}
body #main .left-part .container-valoraciones .card-puntaje .puntaje {
  display: flex;
  flex-flow: column nowrap;
  padding: 5px 15px;
  width: 20%;
}
body #main .left-part .container-valoraciones .card-puntaje .puntaje h1 {
  font-size: 60px;
  text-align: center;
  margin: 0px;
}
body #main .left-part .container-valoraciones .card-puntaje .puntaje p {
  align-self: center;
  margin: 0px;
}
body #main .left-part .container-valoraciones .card-puntaje .puntaje p img {
  width: 20px;
  text-align: center;
}
body #main .left-part .container-valoraciones .card-puntaje .porcentaje {
  width: 70%;
  padding: 5px 10px;
  margin: auto;
  margin-top: 5px;
  --bs-gutter-x: 0rem;
}
body #main .left-part .container-valoraciones .card-puntaje .porcentaje .barra-porcentaje {
  padding: 0px;
  margin-top: 2px;
}
body #main .left-part .container-valoraciones .card-puntaje .porcentaje .estrellas {
  padding: 0px;
  padding-left: 5px;
  text-align: center;
}
body #main .left-part .container-valoraciones .card-puntaje .porcentaje .estrellas img {
  width: 13px;
  vertical-align: super;
}
body #main .right-part {
  position: relative;
  width: 360px;
  height: 100%;
}
body #main .right-part .container-form {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.952);
  width: 360px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.397);
}
body #main .right-part .container-form .imagen-curso {
  width: 100%;
  height: 40%;
}
body #main .right-part .container-form .imagen-curso img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
body #main .right-part .container-form .precio {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 10px;
}
body #main .right-part .container-form .precio .actual {
  width: 95%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
body #main .right-part .container-form .precio .actual h1 {
  margin-left: 5px;
  margin: 0px;
  font-weight: 600;
}
body #main .right-part .container-form .precio .actual h5 {
  margin-left: 10px;
}
body #main .right-part .container-form .precio .anterior {
  height: 100%;
  width: 95%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
}
body #main .right-part .container-form .precio .anterior p {
  margin: 0px;
  margin-left: 55px;
  font-weight: 300;
}
body #main .right-part .container-form .precio .anterior p span {
  text-decoration: line-through;
}
body #main .right-part .container-form .precio .anterior p:last-child {
  color: red;
  font-weight: 400;
}
body #main .right-part .container-form .botones {
  display: flex;
  flex-flow: column nowrap;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}
body #main .right-part .container-form .botones .comprar {
  padding: 5px 30px;
  margin-bottom: 5px;
}
body #main .right-part .container-form .botones .cesta {
  padding: 5px 30px;
}
body #main .right-part .container-form .informacion-extra {
  width: 90%;
  margin: auto;
  height: 200px;
  margin-top: 15px;
}
body #main .right-part .container-form .informacion-extra h5 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 17px;
}
body #main .right-part .container-form .informacion-extra p {
  margin: 0px;
  font-size: 12px;
  margin-bottom: 5px;
}
body #main .right-part .container-form .informacion-extra p img {
  width: 15px;
  margin-right: 5px;
}
body #main .right-part .container-form .informacion-extra p:last-child {
  margin-bottom: 0px;
}
body #footer {
  width: 100%;
  height: 50px;
  background-color: whitesmoke;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
body #footer .left-part {
  width: 48%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
body #footer .left-part p {
  margin: 0px;
  padding: 5px;
}
body #footer .left-part p a {
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #d30000;
  transition: all 0.2s;
}
body #footer .left-part p a:hover {
  background-color: whitesmoke;
  color: #d30000;
  border: 1px solid #d30000;
}
body #footer .right-part {
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #footer .right-part p {
  letter-spacing: 0px;
  margin: 0px;
}
body #footer .right-part p span {
  font-weight: 600;
}

@keyframes miniSlider {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(-300px);
  }
}

/*# sourceMappingURL=courses.css.map */
