* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "system-ui";
}

.btn-danger {
  background-color: #da0012;
}

body {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  position: relative;
  z-index: 0;
}
body #header .navbar {
  box-shadow: 0px 0px 10px #818181;
  padding: 3px;
}
body #header .navbar .container-fluid .navbar-brand img {
  width: 80px;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
  margin: 0px 5px;
  align-self: center;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
  width: 700px;
  height: 400px;
  padding: 0px;
  top: 50px;
  box-shadow: 0px 0px 30px #878787;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown {
  width: 700px;
  height: 400px;
  display: flex;
  flex-flow: row nowrap;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .left-part-dropdown {
  width: 200px;
  height: 399px;
  border-right: 1px solid grey;
  overflow-x: hidden;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .left-part-dropdown .container-scroll {
  overflow-x: scroll;
  width: 100%;
  height: 396px;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .left-part-dropdown .container-scroll li {
  text-transform: uppercase;
  font-size: 13px;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .left-part-dropdown .container-scroll li .dropdown-item {
  width: 98%;
  height: 50px;
  background-color: whitesmoke;
  margin: 0 auto;
  margin-top: 2px;
  padding: 6px 5px;
  transition: all 0.2s;
  font-weight: 600;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .left-part-dropdown .container-scroll li .dropdown-item span {
  font-size: 10px;
  font-weight: 300;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .left-part-dropdown .container-scroll li .dropdown-item:hover {
  background-color: #da0012;
  color: white;
  transform: translateX(10px);
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown {
  width: calc(700px - 200px);
  height: 400px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  border: 1px solid #d5d5d5;
  margin: 0 auto;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
  justify-content: space-evenly;
  position: relative;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top ul {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top ul h6 {
  font-weight: 700;
  text-decoration: underline;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top ul a {
  color: black;
  text-decoration: none;
  border-radius: 5px;
  margin: 0px 1px;
  font-weight: 300;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top ul a li {
  border: 1px solid transparent;
  margin: 0px 0px;
  padding: 0px;
  border-radius: 5px;
  transition: all 0.2s;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top ul a li:hover {
  color: #da0012;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top .button-verCursos {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top .button-verCursos button {
  width: 100%;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-bottom {
  width: 98%;
  height: 18%;
  background-color: #da0012;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-bottom .container-images {
  display: flex;
  flex-flow: row nowrap;
  animation: miniSlider 30s infinite alternate linear;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-bottom .container-images img {
  width: 30px;
  height: 30px;
  margin: 20px 10px;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:first-child a {
  padding-left: 0px;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:last-child a {
  padding: 7.5px 15px;
  text-decoration: bold;
  margin-left: 7.5px;
  box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.253);
  transition: all 0.3s;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:last-child a:hover {
  box-shadow: 0px 0px 15px rgba(255, 0, 0, 0);
}
body #header .navbar .container-fluid .navbar-collapse form {
  white-space: nowrap;
  transition: all 0.5s;
}
body #header .navbar .container-fluid .navbar-collapse .btn-login {
  margin-left: 8px;
  border-radius: 90px;
  padding: 5px;
  box-shadow: 0px 0px 15px #da0012;
  transition: all 0.3s;
}
body #header .navbar .container-fluid .navbar-collapse .btn-login .imagen-login {
  width: 22px;
  height: 22px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../images/login.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 17px;
  transition: all 0.1s;
}
body #header .navbar .container-fluid .navbar-collapse .btn-login:hover {
  box-shadow: 0px 0px 15px rgba(255, 0, 0, 0);
}
body #header .navbar .container-fluid .navbar-collapse .btn-cart {
  margin-left: 8px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid transparent;
  border-radius: 90px;
  box-shadow: 0px 0px 15px #da0012;
  transition: all 0.3s;
}
body #header .navbar .container-fluid .navbar-collapse .btn-cart .imagen-perfil {
  width: 32px;
  height: 32px;
  background-color: #da0012;
  border-radius: 90px;
  background-image: url("../../images/persona.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;
}
body #header .navbar .container-fluid .navbar-collapse .btn-cart:hover {
  box-shadow: 0px 0px 15px rgba(255, 0, 0, 0);
}
body #header .navbar .container-fluid .navbar-collapse .btn-cart:hover .imagen-perfil {
  background-size: 80px;
}
body #header .navbar .container-fluid .navbar-collapse .ventanaModalSesion .modal-content {
  padding-bottom: 10px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 30px black;
}
body #header .navbar .container-fluid .navbar-collapse .ventanaModalSesion .modal-content #datos-ingreso::placeholder {
  color: #da0012 !important;
}
body #header .navbar .container-fluid .navbar-collapse .ventanaModalSesion .modal-content #botonVentanaRegistrarse {
  padding: 5.64px 40px;
}
body #header .navbar .container-fluid .navbar-collapse .ventanaModalSesion .modal-content #botonVentanaIngresar {
  padding: 5.64px 53.3px;
}
body #header .navbar .container-fluid .navbar-collapse .ventanaModalSesion .modal-content #ventanaRegistrarse {
  display: none;
  padding-top: 0;
}
body #header .navbar .container-fluid .navbar-collapse .ventanaModalSesion .modal-content #ventanaRegistrarse label {
  align-self: flex-end;
  font-weight: 300;
}
body #header .navbar .container-fluid .navbar-collapse .menu-usuario .offcanvas-body .list-group a:first-child {
  margin-top: 10px;
}
body #header .navbar .container-fluid .navbar-collapse .menu-usuario .offcanvas-body .list-group a {
  text-decoration: none;
  margin-bottom: 2px;
  border-radius: 3px;
}
body #header .navbar .container-fluid .navbar-collapse .menu-usuario .offcanvas-body .list-group a li {
  color: #686868;
  font-size: 13px;
  font-weight: 300;
  border: 1px solid #c9c9c9;
  transition: all 0.1s;
}
body #header .navbar .container-fluid .navbar-collapse .menu-usuario .offcanvas-body .list-group a:last-child li {
  background-color: #da0012;
  color: white;
}
body #header .navbar .container-fluid .navbar-collapse .menu-usuario .offcanvas-body .list-group a:hover li {
  background-color: #da0012;
  color: white;
}
body #header .navbar .container-fluid .navbar-collapse .menu-usuario .offcanvas-body .list-group a:last-child:hover li {
  background-color: #2b2b2b;
}
body #header .navbar .container-fluid .navbar-collapse .menu-usuario .buttonCancelSweetAlert {
  background-color: #da0012;
}
body #main {
  display: flex;
  flex-flow: column nowrap;
  max-width: 1200px;
  margin: 0 auto;
  height: calc(100% - 56.66px);
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
}
body #main .left-part {
  width: 70%;
  height: 100%;
}
body #main .left-part .nav-curso .breadcrumb .breadcrumb-item {
  font-size: 14px;
  font-weight: 500;
}
body #main .left-part .nav-curso .breadcrumb .breadcrumb-item a {
  text-decoration: none;
  color: #da0012;
  transition: all 0.2s;
}
body #main .left-part .nav-curso .breadcrumb .breadcrumb-item a:hover {
  color: #ff6464;
}
body #main .left-part .titulo-curso h1 {
  font-weight: 600;
}
body #main .left-part .subtitulo-curso h2 {
  font-size: 15px;
  font-weight: 300;
  color: #494949;
}
body #main .left-part .subtitulo-curso .iconos {
  display: flex;
  flex-flow: row nowrap;
  background-color: #da0012;
  padding: 10px 0px;
  border-radius: 3px;
}
body #main .left-part .subtitulo-curso .iconos p {
  font-size: 13px;
  margin: 0px 15px;
  color: white;
  font-weight: 500;
}
body #main .left-part .subtitulo-curso .iconos p img {
  width: 15px;
  vertical-align: sub;
}
body #main .left-part .container-imagen-curso {
  width: 100%;
  height: 300px;
  background-image: url("../../images/transformacion-digital.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  position: relative;
}
body #main .left-part .container-imagen-curso .container-buttons-curso {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
body #main .left-part .container-imagen-curso .container-buttons-curso .box-precio {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  bottom: 40px;
  background-color: rgba(0, 0, 0, 0.493);
  padding: 10px;
}
body #main .left-part .container-imagen-curso .container-buttons-curso .box-precio .actual {
  display: flex;
  flex-flow: row nowrap;
}
body #main .left-part .container-imagen-curso .container-buttons-curso .box-precio .actual h1 {
  color: white;
  margin-right: 5px;
}
body #main .left-part .container-imagen-curso .container-buttons-curso .box-precio .anterior {
  display: flex;
  flex-flow: column nowrap;
}
body #main .left-part .container-imagen-curso .container-buttons-curso .box-precio .anterior p {
  color: white;
}
body #main .left-part .container-imagen-curso .container-buttons-curso .box-precio .anterior p span {
  text-decoration: line-through;
}
body #main .left-part .container-imagen-curso .container-buttons-curso .box-precio .anterior p:last-child {
  color: #da0012;
}
body #main .left-part .container-imagen-curso .container-buttons-curso .box-buttons {
  width: 100%;
  display: inline-flex;
  flex-flow: row nowrap;
}
body #main .left-part .container-imagen-curso .container-buttons-curso .box-buttons input {
  flex: auto;
  padding: 8px 0px;
}
body #main .left-part .container-profesor {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 50px;
}
body #main .left-part .container-profesor h3 {
  font-size: 25px;
  font-weight: 600;
}
body #main .left-part .container-profesor .card-profesor {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 15px;
}
body #main .left-part .container-profesor .card-profesor .imagen-profesor {
  width: 100px;
  height: 100px;
  border-radius: 90px;
  box-shadow: 0px 0px 10px #969696;
  background-image: url("../images/persona.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body #main .left-part .container-profesor .card-profesor .informacion-profesor {
  margin-left: 10px;
}
body #main .left-part .container-profesor .card-profesor .informacion-profesor p {
  margin: 0px;
}
body #main .left-part .container-profesor .card-profesor .informacion-profesor p img {
  width: 15px;
  vertical-align: text-bottom;
}
body #main .left-part .container-profesor .card-profesor .informacion-profesor p:first-child {
  font-size: 20px;
  font-weight: 500;
}
body #main .left-part .container-profesor .card-profesor .informacion-profesor p:last-child {
  margin-top: 10px;
}
body #main .left-part .container-descripcion {
  margin-top: 50px;
}
body #main .left-part .container-descripcion h3 {
  font-size: 25px;
  font-weight: 600;
}
body #main .left-part .container-descripcion ul li {
  color: #414141;
}
body #main .left-part .container-modalidad {
  margin-top: 50px;
}
body #main .left-part .container-modalidad h3 {
  font-size: 25px;
  font-weight: 600;
}
body #main .left-part .container-modalidad ul li {
  color: #414141;
}
body #main .left-part .container-modalidad ul .info {
  color: #222222;
  font-weight: 500;
}
body #main .left-part .container-requisitos {
  margin-top: 50px;
}
body #main .left-part .container-requisitos h3 {
  font-size: 25px;
  font-weight: 600;
}
body #main .left-part .container-requisitos ul li {
  color: #414141;
}
body #main .left-part .container-contenido {
  margin-top: 50px;
}
body #main .left-part .container-contenido h3 {
  font-size: 25px;
  font-weight: 600;
}
body #main .left-part .container-contenido .accordion {
  margin-top: 15px;
}
body #main .left-part .container-contenido .accordion .accordion-item {
  display: flex;
  flex-flow: column nowrap;
}
body #main .left-part .container-contenido .accordion .accordion-item .accordion-header .accordion-button {
  font-weight: 600;
  font-size: 15px;
  background-color: transparent;
}
body #main .left-part .container-contenido .accordion .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: none;
}
body #main .left-part .container-contenido .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background-color: transparent;
  color: black;
}
body #main .left-part .container-certificaciones {
  margin-top: 50px;
  width: 100%;
}
body #main .left-part .container-certificaciones h3 {
  font-size: 25px;
  font-weight: 600;
}
body #main .left-part .container-certificaciones .card-certificaciones {
  margin-top: 0;
}
body #main .left-part .container-certificaciones .card-certificaciones img {
  margin-right: 20px;
}
body #main .left-part .container-certificaciones .card-certificaciones img:last-child {
  margin-right: 0px;
}
body #main .left-part .container-conocenos {
  margin-top: 50px;
  width: 100%;
}
body #main .left-part .container-conocenos h3 {
  font-size: 25px;
  font-weight: 600;
}
body #main .left-part .container-conocenos .botones {
  margin-top: 15px;
}
body #main .left-part .container-conocenos .botones a {
  margin: 0 10px 0 0;
  padding: 10px 20px 10px 20px;
  font-size: 17px;
  font-weight: 300;
  min-width: 150px !important;
}
body #main .left-part .container-conocenos .modal .modal-dialog {
  min-width: 100% !important;
}
body #main .left-part .container-conocenos .modal .modal-dialog .modal-content {
  margin: 0 30px;
  z-index: 1;
}
body #main .left-part .container-ranking {
  margin-top: 50px;
  width: 100%;
}
body #main .left-part .container-ranking h3 {
  font-size: 25px;
  font-weight: 600;
}
body #main .left-part .container-ranking .card-puntaje {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 15px;
}
body #main .left-part .container-ranking .card-puntaje .puntaje {
  display: flex;
  flex-flow: column nowrap;
  padding: 5px 15px;
  width: 20%;
}
body #main .left-part .container-ranking .card-puntaje .puntaje h1 {
  font-size: 60px;
  text-align: center;
  margin: 0px;
}
body #main .left-part .container-ranking .card-puntaje .puntaje p {
  align-self: center;
  margin: 0px;
}
body #main .left-part .container-ranking .card-puntaje .puntaje p img {
  width: 20px;
  text-align: center;
}
body #main .left-part .container-ranking .card-puntaje .porcentaje {
  width: 70%;
  padding: 5px 10px;
  margin: auto;
  margin-top: 5px;
  --bs-gutter-x: 0rem;
}
body #main .left-part .container-ranking .card-puntaje .porcentaje .barra-porcentaje {
  padding: 0px;
  margin-top: 2px;
}
body #main .left-part .container-ranking .card-puntaje .porcentaje .estrellas {
  padding: 0px;
  padding-left: 5px;
  text-align: center;
}
body #main .left-part .container-ranking .card-puntaje .porcentaje .estrellas img {
  width: 13px;
  vertical-align: super;
}
body #main .left-part .container-valoraciones {
  width: 100%;
  height: 100%;
  margin-top: 15px;
}
body #main .left-part .container-valoraciones hr {
  margin-top: 0px;
}
body #main .left-part .container-valoraciones .card-valoracion {
  width: 100%;
  min-height: 120px;
  display: flex;
  flex-flow: row nowrap;
}
body #main .left-part .container-valoraciones .card-valoracion .imagen {
  width: 90px;
  height: 90px;
  border-radius: 90px;
}
body #main .left-part .container-valoraciones .card-valoracion .imagen img {
  width: 90px;
  height: 90px;
  border-radius: 90px;
  box-shadow: 0px 0px 10px #a3a3a3;
}
body #main .left-part .container-valoraciones .card-valoracion .informacion {
  width: calc(100% - 110px);
  height: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
body #main .left-part .container-valoraciones .card-valoracion .informacion h1 {
  font-size: 20px;
  margin: 0px;
}
body #main .left-part .container-valoraciones .card-valoracion .informacion .estrellas {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body #main .left-part .container-valoraciones .card-valoracion .informacion .estrellas img {
  width: 15px;
  height: 15px;
}
body #main .left-part .container-valoraciones .card-valoracion .informacion .estrellas p {
  margin: 0px;
  margin-left: 5px;
  color: grey;
  font-weight: 300;
  font-size: 13px;
}
body #main .left-part .container-valoraciones .card-valoracion .valoracion {
  width: 100%;
  height: 50%;
  margin-top: 15px;
  border-radius: 5px;
  padding: 2px 5px;
  overflow: hidden;
}
body #main .left-part .container-valoraciones .card-valoracion .valoracion p {
  overflow-x: scroll;
  font-weight: 400;
  font-size: 13px;
}
body #main .left-part .container-cursos-recomendados {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}
body #main .left-part .container-cursos-recomendados h3 {
  font-size: 25px;
  font-weight: 600;
}
body #main .left-part .container-cursos-recomendados .card-curso {
  width: 100%;
  height: 100%;
  margin-top: 15px;
  display: flex;
  flex-flow: row nowrap;
}
body #main .left-part .container-cursos-recomendados .card-curso .imagen {
  width: 83.8px;
  min-width: 83.8px;
  height: 100%;
  margin-right: 10px;
}
body #main .left-part .container-cursos-recomendados .card-curso .imagen img {
  width: 80px;
  height: 70px;
  border-radius: 3px;
}
body #main .left-part .container-cursos-recomendados .card-curso .titulo {
  width: 60%;
  height: 100%;
  margin-right: 10px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
body #main .left-part .container-cursos-recomendados .card-curso .titulo p {
  font-weight: 400;
  font-size: 13px;
  margin: 0px;
}
body #main .left-part .container-cursos-recomendados .card-curso .titulo p span {
  font-weight: 700;
}
body #main .left-part .container-cursos-recomendados .card-curso .titulo p:last-child {
  color: #009400;
  font-weight: 600;
}
body #main .left-part .container-cursos-recomendados .card-curso .valoracion {
  width: 10%;
  height: 100%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-self: center;
}
body #main .left-part .container-cursos-recomendados .card-curso .valoracion p {
  font-weight: 500;
  margin: 0px;
}
body #main .left-part .container-cursos-recomendados .card-curso .valoracion p img {
  margin-top: -2px;
}
body #main .left-part .container-cursos-recomendados .card-curso .precio {
  width: 10%;
  height: 100%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-self: center;
}
body #main .left-part .container-cursos-recomendados .card-curso .precio p {
  font-weight: 500;
  margin: 0px;
}
body #main .left-part .container-cursos-recomendados .card-curso .precio p span {
  border: 1px solid green;
  color: green;
}
body #main .left-part .container-cursos-recomendados .card-curso .comprar-guardar {
  width: 10%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-self: center;
}
body #main .left-part .container-cursos-recomendados .card-curso .comprar-guardar p {
  font-weight: 500;
  margin: 0px;
  text-align: right;
  display: flex;
  position: relative;
}
body #main .left-part .container-cursos-recomendados .card-curso .comprar-guardar p input {
  padding: 10px 10px;
  margin: 2px 0;
  position: relative;
  width: 100%;
}
body #main .left-part .container-cursos-recomendados .card-curso .comprar-guardar p img {
  border-radius: 5px;
  padding: 0px;
  text-align: center;
  width: 20px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 30%;
  bottom: 70%;
}
body #main .right-part {
  position: relative;
  width: 360px;
  height: 100%;
}
body #main .right-part .container-form {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.952);
  width: 360px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.397);
  margin-left: 40px;
  margin-top: -30px;
}
body #main .right-part .container-form .imagen-curso {
  width: 100%;
  height: 40%;
}
body #main .right-part .container-form .imagen-curso img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
body #main .right-part .container-form .precio {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 10px;
}
body #main .right-part .container-form .precio .actual {
  width: 95%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
body #main .right-part .container-form .precio .actual h1 {
  margin-left: 5px;
  margin: 0px;
  font-weight: 600;
}
body #main .right-part .container-form .precio .actual h5 {
  margin-left: 10px;
}
body #main .right-part .container-form .precio .anterior {
  height: 100%;
  width: 95%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
}
body #main .right-part .container-form .precio .anterior p {
  margin: 0px;
  margin-left: 55px;
  font-weight: 300;
}
body #main .right-part .container-form .precio .anterior p span {
  text-decoration: line-through;
}
body #main .right-part .container-form .precio .anterior p:last-child {
  color: #da0012;
  font-weight: 400;
}
body #main .right-part .container-form .botones {
  display: flex;
  flex-flow: column nowrap;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}
body #main .right-part .container-form .botones p {
  position: relative;
  margin: 0;
}
body #main .right-part .container-form .botones p .comprar {
  padding: 5px 30px;
  margin-bottom: 5px;
  position: relative;
}
body #main .right-part .container-form .botones p .cesta {
  padding: 5px 30px;
  position: relative;
}
body #main .right-part .container-form .botones p span {
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  bottom: 85%;
  text-align: center;
  color: white;
  cursor: pointer;
}
body #main .right-part .container-form .informacion-extra {
  width: 90%;
  margin: auto;
  height: 200px;
  margin-top: 15px;
}
body #main .right-part .container-form .informacion-extra h5 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 17px;
}
body #main .right-part .container-form .informacion-extra p {
  margin: 0px;
  font-size: 12px;
  margin-bottom: 5px;
}
body #main .right-part .container-form .informacion-extra p img {
  width: 15px;
  margin-right: 5px;
}
body #main .right-part .container-form .informacion-extra p:last-child {
  margin-bottom: 0px;
}
body #main .right-part .contact-form {
  position: fixed;
  background-color: whitesmoke;
  width: 360px;
  height: 620px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.397);
  margin-left: 40px;
  margin-top: -20px;
  padding: 10px 15px 20px 15px;
}
body #main .right-part .contact-form h1 {
  color: #3a3a3a;
  margin-bottom: 0px;
  font-size: 35px;
  font-weight: 600;
  text-shadow: 2px 2px 2px #cfcfcf;
}
body #main .right-part .contact-form form .parrafo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
body #main .right-part .contact-form form .parrafo .campo-escondido {
  display: none;
}
body #main .right-part .contact-form form .parrafo label {
  font-weight: 500;
  line-height: 28px;
  font-size: 13.5px;
  color: #505050;
}
body #main .right-part .contact-form form .parrafo input {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  height: 30px;
  padding: 0px 5px;
  font-weight: 300;
  transition: all 0.2s;
}
body #main .right-part .contact-form form .parrafo input:focus {
  border: 1px solid #ffa0a0 !important;
  box-shadow: 0px 0px 10px #ffc3c3;
  outline: none;
}
body #main .right-part .contact-form form .btn-enviar {
  width: 100%;
  margin-top: 10px;
}
body #main .right-part .contact-form form .footer-card {
  font-size: 10px;
  color: #6b6b6b;
}
body #footer {
  width: 100%;
  min-height: 200px;
  background-color: #da0012;
  margin-bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px #e6e6e6;
}
body #footer .left-part {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
body #footer .left-part h4 {
  font-size: 17px;
  margin-bottom: 15px;
  color: white;
}
body #footer .left-part p {
  color: rgba(255, 255, 255, 0.836);
  font-size: 13px;
  margin: 0;
}
body #footer .center-part {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
body #footer .center-part img {
  align-self: center;
}
body #footer .center-part p {
  margin: 0;
  color: rgba(255, 255, 255, 0.836);
}
body #footer .right-part {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
body #footer .right-part p {
  font-size: 15px;
  margin: 0;
  margin-bottom: 10px;
}
body #footer .right-part p a {
  width: 100%;
  height: 100%;
  padding: 3px 17px;
  text-decoration: none;
  color: white;
  transition: all 0.2s;
}
body #footer .right-part p a:hover {
  padding: 3px 25px;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.199);
}
body #responsive-footer {
  width: 100%;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.664);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid black;
}
body #responsive-footer .contenido {
  width: 100%;
}
body #responsive-footer .contenido .precio {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 0px;
}
body #responsive-footer .contenido .precio .actual {
  width: 95%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
body #responsive-footer .contenido .precio .actual h1 {
  margin-left: 5px;
  margin: 0px;
  font-weight: 600;
  font-size: 30px;
  color: white;
}
body #responsive-footer .contenido .precio .actual h5 {
  margin-left: 10px;
}
body #responsive-footer .contenido .precio .actual h5 .badge {
  font-size: 10px;
}
body #responsive-footer .contenido .precio .anterior {
  height: 100%;
  width: 95%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
}
body #responsive-footer .contenido .precio .anterior p {
  margin: 0px;
  font-weight: 300;
  font-size: 12px;
  padding-right: 80px;
  margin-top: -5px;
  color: whitesmoke;
}
body #responsive-footer .contenido .precio .anterior p span {
  text-decoration: line-through;
}

@keyframes miniSlider {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(-300px);
  }
}

/*# sourceMappingURL=courses.css.map */
