@media screen and (max-width: 1230px) {
  #main .left-part {
    width: 100% !important;
    margin: auto;
  }
  #main .left-part .nav-curso {
    width: 95%;
    margin: 0 auto;
  }
  #main .left-part .nav-curso ol {
    justify-content: center;
  }
  #main .left-part .titulo-curso {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  #main .left-part .subtitulo-curso h2 {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  #main .left-part .container-imagen-curso {
    max-width: 100% !important;
    margin: 0 auto;
    display: block !important;
  }
  #main .left-part .container-imagen-curso .container-buttons-curso .box-precio {
    border-radius: 5px;
  }
  #main .left-part .container-imagen-curso .container-buttons-curso .box-buttons button {
    border-radius: 0px;
  }
  #main .left-part .container-profesor {
    width: 95% !important;
    margin: 0 auto;
  }
  #main .left-part .container-descripcion {
    width: 95% !important;
    margin: 0 auto;
  }
  #main .left-part .container-modalidad {
    width: 95% !important;
    margin: 0 auto;
  }
  #main .left-part .container-contenido {
    width: 95% !important;
    margin: 0 auto;
  }
  #main .left-part .container-requisitos {
    width: 95% !important;
    margin: 0 auto;
  }
  #main .left-part .container-certificaciones {
    width: 95% !important;
    margin: 0 auto;
  }
  #main .left-part .container-conocenos {
    width: 95% !important;
    margin: 0 auto;
  }
  #main .left-part .container-ranking {
    width: 95% !important;
    margin: 0 auto;
  }
  #main .left-part .container-valoraciones {
    width: 95% !important;
    margin: 0 auto;
  }
  #main .left-part .container-cursos-recomendados {
    width: 95% !important;
    margin: 0 auto;
  }
  #main .right-part {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  #footer {
    flex-flow: column nowrap !important;
  }
  #footer .left-part {
    display: none !important;
  }
  #footer .center-part {
    margin-top: 20px !important;
  }
  #footer .right-part {
    flex-flow: row nowrap !important;
  }
  #footer .right-part a {
    white-space: nowrap;
  }
}
@media screen and (max-width: 991px) {
  #header .navbar .container-fluid .navbar-collapse form {
    display: flex !important;
    width: 93% !important;
  }
  #header .navbar .container-fluid .navbar-collapse .btn-cart, #header .navbar .container-fluid .navbar-collapse .btn-login {
    position: absolute;
    bottom: 1px;
    right: 0px;
  }
}
@media screen and (max-width: 975px) {
  #main .left-part .subtitulo-curso .iconos p {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 916px) {
  #main .left-part .container-ranking .card-puntaje {
    flex-direction: column !important;
  }
  #main .left-part .container-ranking .card-puntaje .puntaje {
    width: 100% !important;
  }
  #main .left-part .container-ranking .card-puntaje .porcentaje {
    width: 100% !important;
  }
  #main .left-part .container-ranking .card-puntaje .porcentaje .caja-barra-porcentaje {
    --bs-gutter-x: 0px !important;
  }
  #main .left-part .container-ranking .card-puntaje .porcentaje .caja-barra-porcentaje .estrellas {
    width: 25% !important;
  }
}
@media screen and (max-width: 800px) {
  #main .left-part .container-imagen-curso {
    height: 500px !important;
  }
  #main .left-part .container-imagen-curso .container-buttons-curso .box-precio {
    bottom: 80px !important;
    left: 0;
    right: 0;
  }
  #main .left-part .container-imagen-curso .container-buttons-curso .box-precio .anterior p:last-child {
    margin: 0px;
  }
  #main .left-part .container-imagen-curso .container-buttons-curso .box-buttons {
    display: flex !important;
    flex-flow: column nowrap !important;
  }
}
@media screen and (max-width: 738px) {
  #header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
    width: 500px !important;
  }
  #header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .container-dropdown {
    width: 500px !important;
  }

  .container-certificaciones .card-certificaciones {
    text-align: center !important;
  }

  .container-conocenos .botones {
    text-align: center;
  }
}
@media screen and (max-width: 698px) {
  #main .left-part .subtitulo-curso .iconos p {
    font-size: 10px !important;
  }
  #main .left-part .subtitulo-curso .iconos p img {
    width: 12px !important;
  }
}
@media screen and (max-width: 639px) {
  #header .navbar .container-fluid .navbar-collapse form {
    display: flex !important;
    width: 89% !important;
  }
  #header .navbar .container-fluid .navbar-collapse .btn-cart, #header .navbar .container-fluid .navbar-collapse .btn-login {
    position: absolute;
    bottom: 1px;
    right: 0px;
  }
}
@media screen and (max-width: 619px) {
  #main .left-part .container-cursos-recomendados .card-curso .titulo {
    width: 70% !important;
  }
  #main .left-part .container-cursos-recomendados .card-curso .valoracion {
    display: none !important;
  }
  #main .left-part .container-cursos-recomendados .card-curso .precio {
    display: none !important;
  }
  #main .left-part .container-conocenos .botones a {
    width: 100%;
    margin: 0 0 5px 0 !important;
  }
}
@media screen and (max-width: 578px) {
  #footer {
    justify-content: center !important;
  }
  #footer .right-part {
    display: none !important;
  }
  #footer .center-part {
    margin: 0 !important;
  }
}
@media screen and (max-width: 550px) {
  #header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
    width: 350px !important;
  }
  #header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .container-dropdown {
    width: 350px !important;
  }
  #header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .container-dropdown .left-part-dropdown {
    width: 100% !important;
  }
  #header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .container-dropdown .right-part-dropdown {
    display: none !important;
  }
}
@media screen and (max-width: 460px) {
  #footer {
    justify-content: center !important;
  }
  #footer .right-part {
    display: none !important;
  }
  #footer .center-part {
    margin: 0 !important;
  }
  #footer .center-part p {
    display: none;
  }
}
@media screen and (max-width: 454px) {
  #main .left-part .container-ranking .card-puntaje {
    margin-bottom: 30px !important;
  }
  #main .left-part .container-ranking .card-puntaje .porcentaje {
    display: none !important;
  }
}
@media screen and (max-width: 443px) {
  #main .left-part .subtitulo-curso .iconos p {
    font-size: 10px !important;
    width: 100% !important;
    text-align: center;
  }
  #main .left-part .subtitulo-curso .iconos p img {
    display: none;
  }
  #main .left-part .subtitulo-curso .iconos p:nth-child(2) {
    display: none !important;
  }
  #main .left-part .subtitulo-curso .iconos p:nth-child(4) {
    display: none !important;
  }
  #main .left-part .subtitulo-curso .iconos p:nth-child(5) {
    display: none !important;
  }
}
@media screen and (max-width: 413px) {
  #header .navbar .container-fluid .navbar-collapse form {
    display: flex !important;
    width: 85% !important;
  }
  #header .navbar .container-fluid .navbar-collapse .btn-cart, #header .navbar .container-fluid .navbar-collapse .btn-login {
    position: absolute;
    bottom: 1px;
    right: 0px;
  }
}
@media screen and (max-width: 394px) {
  #header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
    width: 250px !important;
  }
  #header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .container-dropdown {
    width: 250px !important;
  }
  #header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .container-dropdown .left-part-dropdown {
    width: 100% !important;
  }
  #header .navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .container-dropdown .right-part-dropdown {
    display: none !important;
  }
}

/*# sourceMappingURL=responsiveCourse.css.map */
