// Colores predeterminados //
$rojoIade: rgb(218, 0, 18);

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'system-ui';
}

.btn-danger {
    background-color: $rojoIade;
}

body {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    position: relative;
    z-index: 0;
    #header {
        .navbar {
            box-shadow: 0px 0px 10px rgb(187, 187, 187);
            padding: 3px;
            .container-fluid {
                .navbar-brand {
                    img {
                        width: 80px;
                    }
                }
                .navbar-collapse {
                    position: relative;
                    .navbar-nav {
                        .nav-item {
                            margin: 0px 5px;
                            align-self: center;
                            .dropdown-menu {
                                width: 700px;
                                height: 400px;
                                padding: 0px;
                                top: 50px;
                                box-shadow: 0px 0px 30px rgb(135, 135, 135);
                                .container-dropdown {
                                    width: 700px;
                                    height: 400px;
                                    display: flex;
                                    flex-flow: row nowrap;
                                    .left-part-dropdown {
                                        width: 200px;
                                        height: 399px;
                                        border-right: 1px solid grey;
                                        overflow-x: hidden;
                                        .container-scroll {
                                            overflow-x: scroll;
                                            width: 100%;
                                            height: 396px;
                                            li {
                                                text-transform: uppercase;
                                                font-size: 13px;
                                                .dropdown-item {
                                                    width: 98%;
                                                    height: 50px;
                                                    background-color: whitesmoke;
                                                    margin: 0 auto;
                                                    margin-top: 2px;
                                                    padding: 6px 5px;
                                                    transition: all .2s;
                                                    font-weight: 600;
                                                    span {
                                                        font-size: 10px;
                                                        font-weight: 300;
                                                    }
                                                }
                                                .dropdown-item:hover {
                                                    background-color: $rojoIade;
                                                    color: white;
                                                    transform: translateX(10px)
                                                }
                                            }
                                        }
                                    }
                                    .right-part-dropdown {
                                        width: calc(700px - 200px);
                                        height: 400px;
                                        display: flex;
                                        flex-flow: column nowrap;
                                        justify-content: space-evenly;
                                        .container-information-top {
                                            display: flex;
                                            flex-flow: row nowrap;
                                            width: 98%;
                                            height: 79%;
                                            border: 1px solid rgb(213, 213, 213);
                                            margin: 0 auto;
                                            border-radius: 5px;
                                            padding: 30px;
                                            text-align: center;
                                            justify-content: space-evenly;
                                            position: relative;
                                            ul {
                                                list-style: none;
                                                padding: 0px;
                                                display: flex;
                                                flex-flow: column nowrap;
                                                align-items: flex-start;
                                                h6 {
                                                    font-weight: 700;
                                                    text-decoration: underline;
                                                }
                                                a {
                                                    color: black;
                                                    text-decoration: none;
                                                    border-radius: 5px;
                                                    margin: 0px 1px;
                                                    font-weight: 300;
                                                    li {
                                                        border: 1px solid transparent;
                                                        margin: 0px 0px;
                                                        padding: 0px;
                                                        border-radius: 5px;
                                                        transition: all .2s;
                                                    }
                                                    li:hover {
                                                        color: $rojoIade;
                                                    }
                                                }
                                            }
                                            .button-verCursos {
                                                position: absolute;
                                                bottom: 0;
                                                left: 0;
                                                right: 0;
                                                button {
                                                    width: 100%;
                                                }
                                            }
                                            
                                        }
                                        .container-information-bottom {
                                            width: 98%;
                                            height: 18%;
                                            background-color: $rojoIade;
                                            margin: 0 auto;
                                            border-radius: 5px;
                                            overflow: hidden;
                                            .container-images {
                                                display: flex;
                                                flex-flow: row nowrap;
                                                animation: miniSlider 30s infinite alternate linear;
                                                img {
                                                    width: 30px;
                                                    height: 30px;
                                                    margin: 20px 10px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .nav-item:first-child {
                            a {
                                padding-left: 0px;
                            }
                        }
                        .nav-item:last-child {
                            a {
                                padding: 7.5px 15px;
                                text-decoration: bold;
                                margin-left: 7.5px;
                            }
                        }
                    }
                    form {
                        white-space: nowrap;
                        transition: all .5s;
                    }
                    .btn-login {
                        margin-left: 8px;
                        border-radius: 90px;
                        padding: 5px;
                        box-shadow: 0px 0px 15px $rojoIade;
                        transition: all .3s;
                        .imagen-login {
                            width: 22px;
                            height: 22px;
                            background-color: rgba(0,0,0,0);
                            background-image: url('../../images/login.png');
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 17px;
                            transition: all .1s;
                        }
                    }
                    .btn-login:hover {
                        box-shadow: 0px 0px 15px rgba(255,0,0,0);
                    }
                    .btn-cart {
                        margin-left: 8px;
                        background-color: rgba(255, 255, 255, 0);
                        border: 1px solid transparent;
                        border-radius: 90px;
                        box-shadow: 0px 0px 15px $rojoIade;
                        transition: all .3s;
                        .imagen-perfil {
                            width: 32px;
                            height: 32px;
                            background-color: $rojoIade;
                            border-radius: 90px;
                            background-image: url('../images/persona.jpeg');
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            transition: all .3s;
                        }
                    }
                    .btn-cart:hover {
                        box-shadow: 0px 0px 15px rgba(255,0,0,0);
                        .imagen-perfil {
                            background-size: 80px;
                        }
                    }
                    .ventanaModalSesion {
                        .modal-content {
                            padding-bottom: 10px;
                            background-color: whitesmoke;
                            box-shadow: 0px 0px 30px black;
                            #datos-ingreso::placeholder {
                                color: $rojoIade !important;
                            }
                            #botonVentanaRegistrarse {
                                padding: 5.64px 40px;
                            }
                            #botonVentanaIngresar {
                                padding: 5.64px 53.3px;
                            }
                            #ventanaRegistrarse {
                                display: none;
                                padding-top: 0;
                                label {
                                    align-self: flex-end;
                                    font-weight: 300;
                                }
                            }
                        }
                    }
                    .menu-usuario {
                        .offcanvas-body {
                            .list-group {
                                a:first-child {
                                    margin-top: 10px;
                                }
                                a {
                                    text-decoration: none;
                                    margin-bottom: 2px;
                                    border-radius: 3px;
                                    li {
                                        color: rgb(104, 104, 104);
                                        font-size: 13px;
                                        font-weight: 300;
                                        border: 1px solid rgb(201, 201, 201);
                                        transition: all .1s;
                                    }
                                }
                                a:last-child li {
                                    background-color: $rojoIade;
                                    color: white;
                                }
                                a:hover li {
                                    background-color: $rojoIade;
                                    color: white;
                                }
                                a:last-child:hover li {
                                    background-color: rgb(43, 43, 43);
                                }
                            }
                        }
                        .buttonCancelSweetAlert {
                            background-color: $rojoIade;
                        }
                    }
                }
            }
        }
    }
    
    #main {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        z-index: 0;
        .top-part {
            width: 100%;
            min-height: 400px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            .left-part {
                font-weight: 15px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1 {
                    margin: 0px;
                    color: rgb(31, 31, 31);
                    font-weight: 500;
                    letter-spacing: -4px;
                    font-size: 80px;
                    .iade {
                        animation: oscilarIade 5s infinite alternate;
                        letter-spacing: -7px;
                    }
                    .it {
                        color: $rojoIade;
                        font-size: 180px;
                        font-weight: 300;
                        letter-spacing: -14px;
                        animation: oscilarIt 5s infinite alternate;
                    }
                }
                p {
                    margin-top: -40px;
                    margin-left: -378px;
                    font-size: 14px;
                    font-weight: 500;
                }
                h5 {
                    color: rgb(114, 114, 114);
                    border-left: 2px solid $rojoIade;
                    padding-left: 10px;
                    font-weight: 300;
                    font-size: 19px;
                    letter-spacing: -1px;
                    text-align: start;
                    width: 80%;
                    margin: auto;
                }
                button {
                    width: 80%;
                }
            }
            .right-part {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: row;
                align-self: center;
                overflow: hidden;
                justify-content: center;
                img {
                    animation: slider 20s infinite linear;
                }
            }
        }
        .middle-part {
            max-width: 100%;
            min-height: 140px;
            max-height: 1400px;
            display: flex;
            justify-content: space-evenly;
            background-color: $rojoIade;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.247);
            .card {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                background-color: transparent;
                border: none;
                .icono {
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    padding-top: 10px;
                    margin-right: 2px;
                    overflow: hidden;
                    img {
                        width: 30px;
                    }
                }
                .informacion {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    // flex-flow: column nowrap;
                    h5 {
                        color: white;
                        margin: 0px;
                        padding: 0px 5px;
                        line-height: 49px;
                        font-weight: 300;
                        font-size: 18px;
                        align-self: center;
                        border-left: 1px solid rgb(226, 226, 226);
                    }
                }
            }
        }
        .bottom-part {
            width: 100%;
            min-height: 400px;
            display: flex;
            flex-flow: row nowrap;
            margin-top: 30px;
            align-items: center;
            .right-part {
                width: 100%;
                height: 100%;
                .container-courses {
                    display: flex;
                    flex-flow: row wrap;
                    flex: auto;
                    justify-content: space-evenly;
                    align-content: space-evenly;
                    a {
                        border-radius: 5px;
                        margin-bottom: 20px;
                        .course {
                            border: 1px solid none;
                            width: 400px;
                            height: 100px;
                            box-shadow: 5px 5px 10px rgb(114, 114, 114);
                            border-radius: 5px;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            position: relative;
                            z-index: 1;
                            border-radius: 5px;
                            overflow: hidden;
                            .badge:first-child {
                                position: absolute;
                                top: 0;
                                left: 0;
                                font-weight: 500;
                                font-size: 12px;
                            }
                            .badge:nth-child(2) {
                                position: absolute;
                                top: 0;
                                right: 0;
                                font-weight: 600;
                                font-size: 12px;
                            }
                            p {
                                color: white;
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                margin: 0px 10px 5px 0px;
                                font-size: 20px;
                                font-weight: 400;
                                text-transform: uppercase;
                            }
                        }
                        .course::after {
                            background: rgba(0, 0, 0, 0.658);
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            z-index: -1;
                            border-radius: 5px;
                            transition: all .2s;
                        }
                    }
                    a:nth-child(1) .course {
                        background-image:url('../images/transformacion-digital.jpeg');
                    }
                    a:nth-child(2) .course {
                        background-image:url('../images/curso-html.png');
                    }
                    a:nth-child(3) .course {
                        background-image:url('../images/facebook-ads.png');
                    }
                    a:nth-child(4) .course {
                        background-image:url('../images/criptomonedas.jpeg');
                    }
                    a:nth-child(5) .course {
                        background-image:url('../images/google-ads.jpeg');
                    }
                    a:nth-child(6) .course {
                        background-image:url('../images/curso-office.png');
                    }

                    a:hover .course p{
                        animation: mostrarPalabra .3s;
                        text-shadow: 0px 0px 5px black;
                    }
                    a:hover .course::after {
                        background-color: rgba(0, 0, 0, 0.253);
                    }
                }
            }
        }
        .part {
            text-align: center;
        }
    }

    #footer {
        width: 100%;
        min-height: 200px;
        background-color: $rojoIade;
        margin-bottom: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 10px rgb(230, 230, 230);

        .left-part {
            width: 50%;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-evenly;

            h4 {
                font-size: 17px;
                margin-bottom: 15px;
                color: white;
            }

            p {
                color: rgba(255, 255, 255, 0.836);
                font-size: 13px;
                margin: 0
            }
        }

        .center-part {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-evenly;

            img {
                align-self: center;
            }

            p {
                margin: 0;
                color: rgba(255, 255, 255, 0.836);
            }
        }

        .right-part {
            width: 50%;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;

            p {
                font-size: 15px;
                margin: 0;
                margin-bottom: 10px;

                a {
                    width: 100%;
                    height: 100%;
                    padding: 3px 17px;
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    transition: all .2s;
                }

                a:hover {
                    padding: 3px 25px;
                    text-shadow: 0 0 10px rgba(255, 0, 0, 0.199);
                }
            }
        }
    }
}

// Keyframes //
@keyframes oscilarIade {
    0% {
        color: $rojoIade;
    }
    100% {
        color: transparent;
    }
}
@keyframes oscilarIt {
    0% {
        color: transparent;
    }
    100% {
        color: $rojoIade;
        margin-left: -100px;
    }
}
@keyframes mostrarPalabra {
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(0px);
    }
}
@keyframes slider {
    from {
        transform: translateX(200px);
    }
    to {
        transform: translateX(-700px);
    }
}
@keyframes miniSlider {
    from {
        transform: translateX(400px);
    }
    to {
        transform: translateX(-300px);
    }
}