// Responsive Media Queries //
@media screen and (max-width:1230px) {
    #main {
        .left-part {
            width: 80% !important;
            margin: auto;
        }
        .right-part {
            display: none;
        }
    }
}

@media screen and (max-width: 1202px) {
    #footer {
        flex-direction: column !important;
        margin-bottom: 5px !important;
        justify-content: center !important;
        .left-part {
            width: 100% !important;
            font-size: 13px !important;
            white-space: nowrap;
        }
        .right-part {
            width: 100% !important;
        }
    }
    .container-certificaciones {
        .card-certificaciones {
            text-align: center !important;
        }
    }
}

@media screen and (max-width:991px) {
    #header {
        .navbar {
            .container-fluid {
                .navbar-collapse {
                    form {
                        display: flex !important;
                        width: 93% !important;
                    }
                    .btn-cart {
                        position: absolute;
                        bottom: 3px;
                        right: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:975px) {
    #main {
        .left-part {
            .subtitulo-curso {
                .iconos {
                    p {
                        font-size: 12px !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:916px) {
    #main {
        .left-part {
            .container-ranking {
                .card-puntaje {
                    flex-direction: column !important;
                    .puntaje {
                        width: 100% !important;
                    }
                    .porcentaje {
                        width: 100% !important;
                        .caja-barra-porcentaje {
                            --bs-gutter-x: 0px !important;
                            .barra-porcentaje {

                            }
                            .estrellas {
                                width: 25% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:738px) {
    #header {
        .navbar {
            .container-fluid {
                .navbar-collapse {
                    .navbar-nav {
                        .dropdown {
                            .dropdown-menu {
                                width: 500px !important;
                                .container-dropdown {
                                    width: 500px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:698px) {
    #main {
        .left-part {
            .subtitulo-curso {
                .iconos {
                    p {
                        font-size: 10px !important;
                        img {
                            width: 12px !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:639px) {
    #header {
        .navbar {
            .container-fluid {
                .navbar-collapse {
                    form {
                        display: flex !important;
                        width: 89% !important;
                    }
                    .btn-cart {
                        position: absolute;
                        bottom: 3px;
                        right: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:619px) {
    #main {
        .left-part {
            .container-cursos-recomendados {
                .card-curso {
                    .titulo {
                        width: 70% !important;
                    }
                    .valoracion {
                        display: none !important;
                    }
                    .precio {
                        display: none !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:550px) {
    #header {
        .navbar {
            .container-fluid {
                .navbar-collapse {
                    .navbar-nav {
                        .dropdown {
                            .dropdown-menu {
                                width: 350px !important;
                                .container-dropdown {
                                    width: 350px !important;
                                    .left-part-dropdown {
                                        width: 100% !important;
                                    }
                                    .right-part-dropdown {
                                        display: none !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 525px) {
    #footer {
        .left-part {
            display: none !important;
        }
        .right-part {
            text-align: center;
        }
    }
}

@media screen and (max-width:454px) {
    #main {
        .left-part {
            .container-ranking {
                .card-puntaje {
                    margin-bottom: 30px !important;
                    .porcentaje {
                        display: none !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:443px) {
    #main {
        .left-part {
            .subtitulo-curso {
                .iconos {
                    p {
                        font-size: 10px !important;
                        width: 100% !important;
                        text-align: center;
                        img {
                            display: none;
                        }
                    }
                    p:nth-child(2) {
                        display: none !important;
                    }
                    p:nth-child(4) {
                        display: none !important;
                    }
                    p:nth-child(5) {
                        display: none !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:413px) {
    #header {
        .navbar {
            .container-fluid {
                .navbar-collapse {
                    form {
                        display: flex !important;
                        width: 85% !important;
                    }
                    .btn-cart {
                        position: absolute;
                        bottom: 3px;
                        right: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:394px) {
    #header {
        .navbar {
            .container-fluid {
                .navbar-collapse {
                    .navbar-nav {
                        .dropdown {
                            .dropdown-menu {
                                width: 250px !important;
                                .container-dropdown {
                                    width: 250px !important;
                                    .left-part-dropdown {
                                        width: 100% !important;
                                    }
                                    .right-part-dropdown {
                                        display: none !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}