// Responsive Media Queries //

@media screen and (max-width:1315px) {
    .middle-part {
        .card {
            .icono {
                padding-top: 13px !important;
                width: 30px !important;
                img {
                    width: 20px !important;
                }
            }
            .informacion {
                h5 {
                    font-size: 14px !important;
                }
            }
        }
    }
}

@media screen and (max-width:1161px) {
    .top-part {
        flex-direction: column !important;
        .right-part {
            img {
                width: 400px !important;
                animation: slider 40s infinite linear !important;
            }
        }
    }
}

@media screen and (max-width:1042px) {
    body {
        height: 100%;
    }
    .middle-part {
        flex-flow: row wrap;
        height: 100%;
        .card {
            min-width: 300px !important;
        }
    }
    .bottom-part {
        .container-courses {}
        a {
            margin: 10px;
        }
    }
}

@media screen and (max-width: 1000px) {
    #footer {
        flex-flow: column nowrap !important;
        .left-part {
            display: none !important;
        }
        .center-part {
            margin-top: 20px !important;
        }
        .right-part {
            flex-flow: row nowrap !important;
            a {
                white-space: nowrap;
            }
        }
    }
}

@media screen and (max-width:991px) {
    #header {
        .navbar {
            .container-fluid {
                .navbar-collapse {
                    form {
                        display: flex !important;
                        width: 93% !important;
                    }
                    .btn-cart {
                        position: absolute;
                        bottom: 1px;
                        right: 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 894px) {
    body {
        #main {
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            .left-part {
                .title {
                    white-space: nowrap;
                }
            }
        }
    }
}

@media screen and (max-width: 840px) {
    body {
        #main {
            height: 100%;
        }
    }
}

@media screen and (max-width:738px) {
    #header {
        .navbar {
            .container-fluid {
                .navbar-collapse {
                    .navbar-nav {
                        .dropdown {
                            .dropdown-menu {
                                width: 500px !important;
                                .container-dropdown {
                                    width: 500px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:639px) {
    #header {
        .navbar {
            .container-fluid {
                .navbar-collapse {
                    form {
                        display: flex !important;
                        width: 89% !important;
                    }
                    .btn-cart {
                        position: absolute;
                        bottom: 1px;
                        right: 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:578px) {
    #footer {
        justify-content: center !important;
        .right-part {
            display: none !important;
        }
        .center-part {
            margin: 0 !important;
        }
    }
}

@media screen and (max-width:550px) {
    #header {
        .navbar {
            .container-fluid {
                .navbar-collapse {
                    .navbar-nav {
                        .dropdown {
                            .dropdown-menu {
                                width: 350px !important;
                                .container-dropdown {
                                    width: 350px !important;
                                    .left-part-dropdown {
                                        width: 100% !important;
                                    }
                                    .right-part-dropdown {
                                        display: none !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:537px) {
    .top-part {
        .left-part {
            h1 {
                font-size: 60px !important;
                .it {
                    font-size: 120px !important;
                }
            }
            p {
                font-size: 20px !important;
                margin: 0px !important;
            }
        }
    }
}

@media screen and (max-width:460px) {
    #footer {
        justify-content: center !important;
        .right-part {
            display: none !important;
        }
        .center-part {
            margin: 0 !important;
            p {
                display: none;
            }
        }
    }
}
    
@media screen and (max-width:413px) {
    #header {
        .navbar {
            .container-fluid {
                .navbar-collapse {
                    form {
                        display: flex !important;
                        width: 85% !important;
                    }
                    .btn-cart {
                        position: absolute;
                        bottom: 1px;
                        right: 0px;
                    }
                }
            }
        }
    }
    .bottom-part {
        .container-courses {
            a {
                margin: 10px;
                .course {
                    width: 300px !important;
                }
            }
        }
    }
}

@media screen and (max-width:394px) {
    #header {
        .navbar {
            .container-fluid {
                .navbar-collapse {
                    .navbar-nav {
                        .dropdown {
                            .dropdown-menu {
                                width: 250px !important;
                                .container-dropdown {
                                    width: 250px !important;
                                    .left-part-dropdown {
                                        width: 100% !important;
                                    }
                                    .right-part-dropdown {
                                        display: none !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Keyframes //
@keyframes oscilarIt {
    0% {
        color: transparent;
    }
    100% {
        color: rgb(228, 3, 3);
        margin-left: -70px;
    }
}