// Responsive Media Queries //
@media screen and (max-width:1230px) {
    #main {
        .left-part {
            width: 100% !important;
            margin: auto;
            .nav-curso {
                width: 95%;
                margin: 0 auto;
                ol {
                    justify-content: center;
                }
            }
            .titulo-curso {
                width: 90%;
                margin: 0 auto;
                text-align: center;
            }
            .subtitulo-curso {
                h2 {
                    width: 95%;
                    margin: 0 auto;
                    margin-bottom: 10px;
                }
            }
            .container-imagen-curso {
                max-width: 100% !important;
                margin: 0 auto;
                display: block !important;
                .container-buttons-curso {
                    .box-precio {
                        border-radius: 5px;
                    }
                    .box-buttons {
                        button {
                            border-radius: 0px;
                        }
                    }
                }
            }
            .container-profesor {
                width: 95% !important;
                margin: 0 auto;
            }
            .container-descripcion {
                width: 95% !important;
                margin: 0 auto;
            }
            .container-modalidad {
                width: 95% !important;
                margin: 0 auto;
            }
            .container-contenido {
                width: 95% !important;
                margin: 0 auto;
            }
            .container-requisitos {
                width: 95% !important;
                margin: 0 auto;
            }
            .container-certificaciones {
                width: 95% !important;
                margin: 0 auto;
            }
            .container-conocenos {
                width: 95% !important;
                margin: 0 auto;
            }
            .container-ranking {
                width: 95% !important;
                margin: 0 auto;
            }
            .container-valoraciones {
                width: 95% !important;
                margin: 0 auto;
            }
            .container-cursos-recomendados {
                width: 95% !important;
                margin: 0 auto;
            }
        }
        .right-part {
            display: none;
        }
    }
    #footer {
        padding-bottom: 100px;
        width: 95% !important;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1202px) {
    #footer {
        flex-direction: column !important;
        margin-bottom: 5px !important;
        justify-content: center !important;
        .left-part {
            width: 100% !important;
            font-size: 13px !important;
            white-space: nowrap;
        }
        .right-part {
            width: 100% !important;
        }
    }
}

@media screen and (max-width:991px) {
    #header {
        .navbar {
            .container-fluid {
                .navbar-collapse {
                    form {
                        display: flex !important;
                        width: 93% !important;
                    }
                    .btn-cart, .btn-login {
                        position: absolute;
                        bottom: 1px;
                        right: 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:975px) {
    #main {
        .left-part {
            .subtitulo-curso {
                .iconos {
                    p {
                        font-size: 12px !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:916px) {
    #main {
        .left-part {
            .container-ranking {
                .card-puntaje {
                    flex-direction: column !important;
                    .puntaje {
                        width: 100% !important;
                    }
                    .porcentaje {
                        width: 100% !important;
                        .caja-barra-porcentaje {
                            --bs-gutter-x: 0px !important;
                            .barra-porcentaje {

                            }
                            .estrellas {
                                width: 25% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:800px) {
    #main {
        .left-part {
            .container-imagen-curso {
                height: 500px !important;
                .container-buttons-curso {
                    .box-precio {
                        bottom: 80px !important;
                        left: 0;
                        right: 0;
                        .anterior {
                            p:last-child {
                                margin: 0px;
                            }
                        }
                    }
                    .box-buttons {
                        display: flex !important;
                        flex-flow: column nowrap !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:738px) {
    #header {
        .navbar {
            .container-fluid {
                .navbar-collapse {
                    .navbar-nav {
                        .dropdown {
                            .dropdown-menu {
                                width: 500px !important;
                                .container-dropdown {
                                    width: 500px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .container-certificaciones {
        .card-certificaciones {
            text-align: center !important;
        }
    }
    .container-conocenos {
        .botones {
            text-align: center;
        }
    }
}

@media screen and (max-width:698px) {
    #main {
        .left-part {
            .subtitulo-curso {
                .iconos {
                    p {
                        font-size: 10px !important;
                        img {
                            width: 12px !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:639px) {
    #header {
        .navbar {
            .container-fluid {
                .navbar-collapse {
                    form {
                        display: flex !important;
                        width: 89% !important;
                    }
                    .btn-cart, .btn-login {
                        position: absolute;
                        bottom: 1px;
                        right: 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:619px) {
    #main {
        .left-part {
            .container-cursos-recomendados {
                .card-curso {
                    .titulo {
                        width: 70% !important;
                    }
                    .valoracion {
                        display: none !important;
                    }
                    .precio {
                        display: none !important;
                    }
                }
            }
            .container-conocenos {
                .botones {
                    a {
                        width: 100%;
                        margin: 0 0 5px 0 !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:550px) {
    #header {
        .navbar {
            .container-fluid {
                .navbar-collapse {
                    .navbar-nav {
                        .dropdown {
                            .dropdown-menu {
                                width: 350px !important;
                                .container-dropdown {
                                    width: 350px !important;
                                    .left-part-dropdown {
                                        width: 100% !important;
                                    }
                                    .right-part-dropdown {
                                        display: none !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 525px) {
    #footer {
        .left-part {
            display: none !important;
        }
        .right-part {
            text-align: center;
        }
    }
}

@media screen and (max-width:454px) {
    #main {
        .left-part {
            .container-ranking {
                .card-puntaje {
                    margin-bottom: 30px !important;
                    .porcentaje {
                        display: none !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:443px) {
    #main {
        .left-part {
            .subtitulo-curso {
                .iconos {
                    p {
                        font-size: 10px !important;
                        width: 100% !important;
                        text-align: center;
                        img {
                            display: none;
                        }
                    }
                    p:nth-child(2) {
                        display: none !important;
                    }
                    p:nth-child(4) {
                        display: none !important;
                    }
                    p:nth-child(5) {
                        display: none !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:413px) {
    #header {
        .navbar {
            .container-fluid {
                .navbar-collapse {
                    form {
                        display: flex !important;
                        width: 85% !important;
                    }
                    .btn-cart, .btn-login {
                        position: absolute;
                        bottom: 1px;
                        right: 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:394px) {
    #header {
        .navbar {
            .container-fluid {
                .navbar-collapse {
                    .navbar-nav {
                        .dropdown {
                            .dropdown-menu {
                                width: 250px !important;
                                .container-dropdown {
                                    width: 250px !important;
                                    .left-part-dropdown {
                                        width: 100% !important;
                                    }
                                    .right-part-dropdown {
                                        display: none !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}